<form action = <%= url %> >
  <select name="sort">
    <option value="name">Name</option>
    <option value="most">Top Rated</option>
    <option value="least">Lowest Rated</option>
  </select>
  <input type="submit" value="Sort By">
</form