<div id="franchise-index">
</div>        

<script id="franchise-index-template" type="text/x-handlebars-template">
<h1 class="mt-5">Franchises</h1>
<p class="lead">Click on a franchise to see more details.</p>
  <ol>
  {{#each this}}
    <li id="{{id}}"><a href="/franchises/{{id}}">{{name}}</a></li>
  {{/each}}
  </ol>
</script>

<script id="franchise-details-template" type="text/x-handlebars-template">
  <ul id=franchise-details-{{id}} class="list-unstyled">
    <br>  
    <li>Medium: {{medium}}</li>
    {{#if average_rating}}
      <li>Total Number of Ratings: {{ratings_count}}</li>
      <li>Average Rating: {{average_rating}}</li>
    {{else}}
      <li>Total Number of Ratings: 0</li>
      <li>Average Rating: None</li>
    {{/if}}
    <br>
    <li><a href={{url}}>More Details</a></li>
  </ul>
  <br>
</script>