<h2>Franchises</h2>
<p><%= render partial: "sort", locals: {url: '/sort'} %></p>
<ol>
  <% @franchises.each do |f| %>
    <li id=<%=set_id(f)%>><%= display_summary(f) %></li>
  <% end %>
</ol>

<script id="franchise-summary-template" type="text/x-handlebars-template">
  <ul id=franchise-details-{{id}}>
    <li>Medium: {{medium}}</li>
  </ul>
</script>