<div id="franchise-show" style="text-align:center;">

</div>

<script id="franchise-show-template" type="text/x-handlebars-template">
  <button id="previous" class="show" onclick="showPrevious();">See Previous Franchise</button>
  <h2>{{name}}</h2>
  <button id="next" class="show" onclick="showNext();">See Next Franchise</button>
  <p value={{id}}>Franchise ID: {{id}}</p>
  <p>Medium: {{medium}}</p>
  <p>Total Number of Ratings: {{ratings_count}}</p>
  <p>Average Rating: {{average_rating}}</p>
  {{#if your_rating}}
  <p>Your Rating: {{your_rating.stars}}</p>
  {{else}}
  <p>Your Rating: None </p>
  {{/if}}
</script>